name: Tests

on: [push, pull_request]

env:
  PYTHON_VERSIONS: ["3.8", "3.9", "3.10", "3.11", "3.12", "pypy-3.8", "pypy-3.9", "pypy-3.10"]

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python: ${{fromJson(env.PYTHON_VERSIONS)}}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - run: pip install .[test]
      - run: pytest

  install:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python: ${{fromJson(env.PYTHON_VERSIONS)}}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - run: pip install .
      - run: python -c "from lru import LRU"
