name: Tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python: ["2.7", "3.6", "3.7", "3.8", "3.9", "3.10", pypy-3.7, pypy-3.8, pypy-3.9]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - run: pip install .[test]
      - run: pytest

  install:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python: ["2.7", "3.6", "3.7", "3.8", "3.9", "3.10", pypy-3.7, pypy-3.8, pypy-3.9]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - run: pip install .
      - run: python -c "from lru import LRU"
