name: Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        python:
          [
            "3.8",
            "3.9",
            "3.10",
            "3.11",
            "3.12",
            "3.13",
            "3.14",
            "pypy-3.8",
            "pypy-3.9",
            "pypy-3.10",
            "pypy-3.11",
          ]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
          allow-prereleases: true
      - name: Update Python tools
        run: |
          python -m pip install -U pip
          python -m pip install -U setuptools
      - name: Install lru-dict with test extras
        run: |
          python -m pip install .[test]
      - name: Run tests
        run: |
          python -m pytest

  install:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        python:
          [
            "3.8",
            "3.9",
            "3.10",
            "3.11",
            "3.12",
            "3.13",
            "3.14",
            "pypy-3.8",
            "pypy-3.9",
            "pypy-3.10",
            "pypy-3.11",
          ]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
          allow-prereleases: true
      - name: Update Python tools
        run: |
          python -m pip install -U pip
          python -m pip install -U setuptools
      - name: Install lru-dict
        run: |
          python -m pip install .
      - name: Verify install
        run: |
          python -c "from lru import LRU"
